<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="/Dashboard/Index" class="nav-link">
                <i class="fas fa-book nav-icon"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Group
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Group/create" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Group/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>View Groups</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="/Contact/Index" class="nav-link">
                <i class="fas fa-book nav-icon"></i>
                <p>Contact</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Import/Upload" class="nav-link">
                <i class="fas fa-book nav-icon"></i>
                <p>Import</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Export/Index" class="nav-link">
                <i class="fas fa-book nav-icon"></i>
                <p>Export</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    History
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Import/Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Import History</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Export/History" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Export History</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>